/* 
        App: Care Pool
        Font: Bubblegum Sans Regular
        UI Colors: orange-#FCAF1B, blue-#40CBF4, pink-EC008C, light-grey-#F7F7F7, medium-grey-#7D7B7F, dark-grey-#616265
        Title: 68px - 60px
        Headings: h1 = 36px - 34px, h2 = 30px
        Body: 26px
        Button: 32px
*/

.bg_orange{
    background-color:#FCAF1B;
}
.bg_blue{
    background-color:#40CBF4;
}
.bg_pink{
    background-color:#EC008C;
}
.bg_light_grey{
    background-color:#F7F7F7;
}
.bg_medium_grey{
    background-color:#7D7B7F;
}
.bg_dark_grey{
    background-color:#616265;
}


.title_font{
    font-family: Bubblegum Sans !important;
    font-size: 68px;
    color: #616265;
    line-height:10px;
}

.headingone_font{
    font-family: Bubblegum Sans !important;
    font-size: 26px;
    color: #616265;
}

.headingtwo_font{
    font-family: Bubblegum Sans !important;
    font-size: 30px;
    color: #616265;
}

.heading3_font{
    font-family: Bubblegum Sans !important;
    font-size: 25px;
    color: #616265;
}

.default_font{
    font-family: Bubblegum Sans !important;
    font-size: 20px;
    color: #FFFFFF;
}

.default_sub_font{
    font-family: Bubblegum Sans !important;
    font-size: 16px;
    color: #FFFFFF;
}

#signup_btn{
    background-color: transparent; border: 2px solid #FFF; text-align: center;
}

#signup_btn_fb{
    margin: 0px 0px 0px -13px;padding-top: 3px; margin-right: 2px;width: 40px;line-height: 2;color: #FCAF1B;height: 110%;background-color: #fff;
}

#signin_btn{
    background-color: #FFF;color:#FCAF1B;border:none; font-size: 14px;
}


body { 
    /*background: url(../img/background.png) no-repeat center center fixed;*/ 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}
.dash-heading { 
    background: rgba(0, 0, 0, 0) url('../img/background.png') no-repeat center center / cover ;
    margin-top:0px; 
    min-height:50px;
    color:#fff; 
    font-size:20px; 
    line-height:3;
}

.body_orange{ 
    background: url(../img/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}

.body_blue{
    background: url(../img/backview.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}

.hand:hover{
    cursor:pointer;
}

#c1{
    background-color:#F3C;padding:5px; border:2px solid #F3C; height:50px;border-radius:10px;line-height:2.5; text-align:center; font-size:16px;
}

#c2{
    color:#0CF; padding:5px; border:2px solid #0CF; height:50px;border-radius:10px;line-height:2.5; text-align:center; font-size:16px;
}

#c3{
    margin-top:10px;background:url(../img/back1.png) no-repeat center fixed;  width:100%; min-height:100px;background-size: cover;
}

#c4{
    border:1px solid #ccc;border-radius:5px; width:90%;padding:10px; height:50%; margin: 10px auto;
}

#c5{
    color:#F39; margin-left:20px;
}

#c6{
    background-color:#FFF;width:100%; height:80%; padding-bottom:10px;
}

#header_cover {
    padding-top:10px; 
    background: url(../img/back1.png) no-repeat center;
    background-size:cover;
    -moz-background-size:cover;
    -ms-background-size:cover;
    -o-background-size:cover;
    -webkit-background-size:cover; 
    width:100%;
    min-height:125px;
}



.icon-links{
    display:inline;
    list-style-type:none;
}

#footer_stick{
    border:0px;background-color:transparent;
}

#btn_demo{
    background-color:transparent;color:#FFF;border:2px solid #FFF;
}
#btn_demo:hover{
    background-color:transparent;color:#FFF;font-weight:300;border:2px solid #FFF;
}

.demo-font{
    color: #FFFFFF;
    font-family: Bubblegum Sans !important;
    font-size:18px;
}

.demo-skip-btn {
    background: #FCAF17;
    border: 2px solid white;
    color: #FFFFFF;
    width: 8%;
    line-height:2;
    height: 30px;
    font-size:14px;
    text-align:center;
    border-radius: 5px;
}
.demo-skip-btn:hover {
    background: #FFF;
    border: 2px solid white;
    color: #FFFFFF;
    font-size:14px;
    width: 8%;
    color:#FCAF17;
    font-weight:bold;
    line-height:2;
    height: 30px;
    text-align:center;
    border-radius: 5px;
}

#offer_set {
    text-align: center;
    display: block;
    color: rgb(255, 255, 255);
    line-height: 5.5;
    margin-top: -7px;
    margin-right: -16px;
    width: 60px;
    max-height: 100%;
    height: 100%;
    background-color: #e09d1a;
    margin-bottom: -6px;
}

#offer_set_blue{
    text-align: center;display: block;color: rgb(255, 255, 255);line-height: 5.5;margin-top: -7px;margin-right: -16px;width: 60px;max-height:  100%;height: 100%;margin-bottom: -6px;
           background-color: #08c;
}

img {
    page-break-inside: avoid;
}
img {
    max-width: 100% !important;
}

img {
    vertical-align: middle;
}

.img-rounded {
    border-radius: 6px;
}
.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.img-circle {
    border-radius: 50%;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* Tab bar icons */
i.tabbar-demo-icon-1 {
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' fill='%23929292'><g><circle cx='15.2' cy='8.8' r='1.5'/><polygon points='16.7,12.3 16.7,11.7 16.7,11.3 13.7,11.3 13.7,12.3 14.7,12.3 14.7,20.3 13.7,20.3 13.7,21.3 17.7,21.3 17.7,20.3 16.7,20.3'/><path d='M15.2,2.3C8.3,2.3,2.7,7.9,2.7,14.8s5.6,12.5,12.5,12.5c6.9,0,12.5-5.6,12.5-12.5S22.1,2.3,15.2,2.3z M15.2,26.3 c-6.3,0-11.5-5.2-11.5-11.5S8.8,3.3,15.2,3.3s11.5,5.2,11.5,11.5S21.5,26.3,15.2,26.3z'/></g></svg>");
}
.active i.tabbar-demo-icon-1 {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 30 30' fill='%23007aff'><path d='M15,2.6C8.1,2.6,2.5,8.2,2.5,15.1C2.5,22,8.1,27.6,15,27.6S27.5,22,27.5,15.1C27.5,8.2,21.9,2.6,15,2.6z M15,7.6 c0.8,0,1.5,0.7,1.5,1.5c0,0.8-0.7,1.5-1.5,1.5c-0.8,0-1.5-0.7-1.5-1.5C13.5,8.3,14.2,7.6,15,7.6z M17.5,21.6h-4v-1h1v-8h-1v-1h3V12 v0.6v8h1V21.6z'/></svg>");
}
i.tabbar-demo-icon-2 {
    width: 25px;
    height: 30px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 25 17' fill='%23929292'><path d='M19.5,0h-14L0,6v11h25V6L19.5,0z M5.9,1h13.2l4.5,5H16c0,1.9-1.6,3.4-3.5,3.4C10.6,9.4,9,7.9,9,6H1.4L5.9,1z M24,16H1V7h7.1 c0.5,1.9,2.3,3.4,4.4,3.4s3.9-1.5,4.4-3.4H24V16z'/></svg>");
}
.active i.tabbar-demo-icon-2 {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 25 17' fill='%23007aff'><path d='M19.5,0h-14L0,6v11h25V6L19.5,0z M5.9,1h13.2l4.5,5H16c0,1.9-1.6,3.4-3.5,3.4C10.6,9.4,9,7.9,9,6H1.3L5.9,1z'/></svg>");
}
i.tabbar-demo-icon-3 {
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 30 19' fill='%23929292'><path d='M16.8,1c3.7,0,6.8,3,6.8,6.8l0,0.1c0,0,0,0.1,0,0.1l0,1l1,0C27,9,29,11,29,13.5c0,2.5-2,4.5-4.5,4.5H6c-2.8,0-5-2.2-5-5 c0-2.1,1.4-4,3.4-4.7L5,8.1l0.1-0.6C5.3,6,6.5,5,8,5c0.4,0,0.9,0.1,1.3,0.3l0.9,0.5l0.4-0.9C11.8,2.5,14.2,1,16.8,1 M16.8,0 c-3.1,0-5.7,1.8-7,4.4C9.2,4.2,8.6,4,8,4C6,4,4.4,5.4,4.1,7.3C1.7,8.1,0,10.4,0,13c0,3.3,2.7,6,6,6h18.5v0c3,0,5.5-2.5,5.5-5.5 c0-3-2.5-5.5-5.5-5.5c0-0.1,0-0.2,0-0.2C24.5,3.5,21.1,0,16.8,0L16.8,0z'/></svg>");
}
.active i.tabbar-demo-icon-3 {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 30 19' fill='%23007aff'><path d='M24.5,8c0-0.1,0-0.2,0-0.2C24.5,3.5,21,0,16.8,0c-3.1,0-5.7,1.8-7,4.4C9.2,4.2,8.6,4,8,4C6,4,4.4,5.4,4,7.3 C1.7,8.1,0,10.4,0,13c0,3.3,2.7,6,6,6h18.5v0c3,0,5.5-2.5,5.5-5.5C30,10.5,27.5,8,24.5,8z'/></svg>");
}
i.tabbar-demo-icon-4 {
    width: 25px;
    height: 30px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 25 19' fill='%23929292'><g><path d='M23,3h-4.1l-2.4-2.4c0,0,0,0,0,0l0,0C16.1,0.2,15.6,0,15,0h-5C9.5,0,8.9,0.3,8.6,0.6l0,0L6.2,3H2C0.9,3,0,3.9,0,5v12 c0,1.1,0.9,2,2,2h21c1.1,0,2-0.9,2-2V5C25,3.9,24.1,3,23,3z M24,17c0,0.6-0.4,1-1,1H2c-0.6,0-1-0.4-1-1V5c0-0.6,0.4-1,1-1h4.2h0.4 l0.3-0.3l1.2-1.2l0,0.1l1.1-1.2C9.5,1.1,9.8,1,10,1h5c0.3,0,0.5,0.1,0.7,0.3l2.4,2.4L18.4,4h0.4H23c0.6,0,1,0.4,1,1V17z'/><path d='M12.5,4C8.9,4,6,6.9,6,10.5c0,3.6,2.9,6.5,6.5,6.5c3.6,0,6.5-2.9,6.5-6.5C19,6.9,16.1,4,12.5,4z M12.5,16 c-3,0-5.5-2.5-5.5-5.5C7,7.5,9.5,5,12.5,5S18,7.5,18,10.5C18,13.5,15.5,16,12.5,16z'/><path d='M12.5,6C10,6,8,8,8,10.5C8,13,10,15,12.5,15s4.5-2,4.5-4.5C17,8,15,6,12.5,6z M12.5,14C10.6,14,9,12.4,9,10.5 C9,8.6,10.6,7,12.5,7S16,8.6,16,10.5C16,12.4,14.4,14,12.5,14z'/></g></svg>");
}
.active i.tabbar-demo-icon-4 {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 25 19' fill='%23007aff'><g><path d='M23,3h-4.1l-2.4-2.4c0,0,0,0,0,0l0,0C16.1,0.2,15.6,0,15.1,0h-5C9.5,0,9,0.3,8.6,0.6l0,0L6.2,3H2C0.9,3,0,3.9,0,5v12 c0,1.1,0.9,2,2,2h21c1.1,0,2-0.9,2-2V5C25,3.9,24.1,3,23,3z M12.5,16c-3,0-5.5-2.5-5.5-5.5C7,7.5,9.5,5,12.5,5c3,0,5.5,2.5,5.5,5.5 C18,13.5,15.5,16,12.5,16z'/><circle cx='12.5' cy='10.5' r='4.5'/></g></svg>");
}
